Workflow/Node-Red/flows20210616.json
[{"id":"d3798413.a48618","type":"tab","label":"Watchfolder","disabled":false,"info":""},{"id":"993af337.5da74","type":"tab","label":"API","disabled":false,"info":""},{"id":"286d82eb.cd65ee","type":"tab","label":"Flow 4","disabled":false,"info":""},{"id":"e089622.6a906a","type":"tab","label":"Flow 1"},{"id":"f47ed4be.456858","type":"mongodb","hostname":"172.17.0.4","topology":"direct","connectOptions":"","port":"27017","db":"test","name":""},{"id":"188b5b0b.c17bd5","type":"SSH_Credentials","host":"192.168.254.1","port":"22","userlabel":"administrator@192.168.254.1"},{"id":"29df19bc.46db36","type":"SSH_Credentials","host":"127.0.0.1","port":"22","userlabel":"dummy@127.0.0.1"},{"id":"f0cdd108.bf2b2","type":"SSH_Credentials","host":"192.168.11.3","port":"22","userlabel":"administrator@192.168.11.3"},{"id":"a9039719.16a198","type":"SSH_Credentials","host":"192.168.10.2","port":"22","userlabel":"administrator@192.168.10.2"},{"id":"d412c38d.b559e","type":"function","z":"d3798413.a48618","name":"Formatter","func":"path = msg.path\nfilename = msg.title\ntime = msg.time\npayload = msg.payload\n\nmsg.payload = {\n    \"title\": filename,\n    \"path\": path,\n    \"time\": time,\n    \"ffprobe\": payload\n}\n\nreturn msg.payload;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1420,"y":400,"wires":[["7103e2ca.0ca28c","73ca0faf.ae792"]]},{"id":"7103e2ca.0ca28c","type":"mongodb out","z":"d3798413.a48618","mongodb":"f47ed4be.456858","name":"Write new file input","collection":"test","payonly":false,"upsert":false,"multi":false,"operation":"insert","x":1730,"y":400,"wires":[]},{"id":"d5589ee0.be81c","type":"e-mail","z":"d3798413.a48618","server":"smtp.gmail.com","port":"465","secure":true,"tls":true,"name":"j.mermethusson@gmail.com","dname":"","x":1760,"y":460,"wires":[]},{"id":"73ca0faf.ae792","type":"function","z":"d3798413.a48618","name":"Formatter","func":"path = msg.filename\nid = msg._msgid\nfilename = msg.title\ntime = msg.time\nffprobe = msg.ffprobe\n\n\ncorps = `Hello, we received the file ${filename} at ${time}.\\nHere is the informations concerning the file:\\n${ffprobe}\\nClick on http://100.87.168.42:1880/approve?id=${id} to enable the transcoding workflow.\\n Othewise click on: Click on http://100.87.168.42:1880/deny?id=${id} `\n\nmsg = {\n    \"topic\": \"File Approval\",\n    \"payload\": corps\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1480,"y":460,"wires":[["d5589ee0.be81c"]]},{"id":"66777487.0641ec","type":"moment","z":"d3798413.a48618","name":"","topic":"","input":"","inputType":"date","inTz":"Europe/Paris","adjAmount":0,"adjType":"days","adjDir":"add","format":"","locale":"en-US","output":"time","outputType":"msg","outTz":"Europe/Paris","x":1180,"y":400,"wires":[["d412c38d.b559e"]]},{"id":"e3a7c9b4.e6cd88","type":"http in","z":"993af337.5da74","name":"","url":"/approve","method":"get","upload":false,"swaggerDoc":"","x":390,"y":180,"wires":[["7ea1167a.917248"]]},{"id":"4a61c862.af3d58","type":"http response","z":"993af337.5da74","name":"","statusCode":"200","headers":{},"x":1230,"y":180,"wires":[]},{"id":"b2029037.d7879","type":"template","z":"993af337.5da74","name":"HTML","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<!DOCTYPE html>\n<html>\n<body>\n\n<h1>File Workflow</h1>\n<p>The.document {{payload.0.title}} is accepted.</p>\n\n</body>\n</html>","output":"str","x":1040,"y":180,"wires":[["4a61c862.af3d58"]]},{"id":"f1abae13.9f69","type":"mongodb in","z":"993af337.5da74","mongodb":"f47ed4be.456858","name":"Read database","collection":"test","operation":"find","x":800,"y":180,"wires":[["b2029037.d7879","ea84bc7a.db76d"]]},{"id":"7ea1167a.917248","type":"function","z":"993af337.5da74","name":"Find command","func":"msg.limit = 5; //obligatoire\nmsg.skip = 0;\nmsg.payload = {_msgid: msg.payload.id}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":600,"y":180,"wires":[["f1abae13.9f69"]]},{"id":"8cd8e208.1763","type":"http in","z":"993af337.5da74","name":"","url":"/deny","method":"get","upload":false,"swaggerDoc":"","x":380,"y":640,"wires":[["46334fbe.4afff"]]},{"id":"aba1df2.7c6702","type":"http response","z":"993af337.5da74","name":"","statusCode":"200","headers":{},"x":1230,"y":640,"wires":[]},{"id":"32744368.fb8b0c","type":"template","z":"993af337.5da74","name":"HTML","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<!DOCTYPE html>\n<html>\n<body>\n\n<h1>File Workflow</h1>\n<p>The.document {{payload.0.title}} is refused.</p>\n\n</body>\n</html>","output":"str","x":1040,"y":640,"wires":[["aba1df2.7c6702"]]},{"id":"aa8fd924.d8a7c8","type":"mongodb in","z":"993af337.5da74","mongodb":"f47ed4be.456858","name":"Read database","collection":"test","operation":"find","x":800,"y":640,"wires":[["32744368.fb8b0c","af1fd9dc.1eaf48","db0519f9.f37f18"]]},{"id":"46334fbe.4afff","type":"function","z":"993af337.5da74","name":"Find command","func":"msg.limit = 5; //obligatoire\nmsg.skip = 0;\nmsg.payload = {_msgid: msg.payload.id}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":580,"y":640,"wires":[["aa8fd924.d8a7c8"]]},{"id":"1dc5d661.e7eb0a","type":"mongodb out","z":"993af337.5da74","mongodb":"f47ed4be.456858","name":"Remove database","collection":"test","payonly":false,"upsert":false,"multi":false,"operation":"delete","x":1270,"y":720,"wires":[]},{"id":"af1fd9dc.1eaf48","type":"function","z":"993af337.5da74","name":"Get msg id","func":"msg.payload = {_msgid: msg.payload[0]._msgid}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1070,"y":720,"wires":[["1dc5d661.e7eb0a"]]},{"id":"437e9481.45aa9c","type":"watch-directory","z":"d3798413.a48618","folder":"/mnt/ftpserver","recursive":0,"typeEvent":"create","ignoreInitial":true,"ignoredFiles":"","ignoredFilesType":"re","name":"","x":190,"y":340,"wires":[["80d372f8.08eac"]]},{"id":"ba98eeb0.205d3","type":"bigssh","z":"993af337.5da74","name":"Remove file on FTP","commandLine":"rm ${payload.path}","commandArgs":"","minError":1,"minWarning":1,"noStdin":false,"format":"utf8","payloadIsArg":true,"myssh":"188b5b0b.c17bd5","x":1230,"y":800,"wires":[["94bd8d98.c1c93"],[],[]]},{"id":"94bd8d98.c1c93","type":"debug","z":"993af337.5da74","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1470,"y":800,"wires":[]},{"id":"db0519f9.f37f18","type":"function","z":"993af337.5da74","name":"rm command","func":"path = msg.payload[0].path\n\nmsg = {\n    \"_msgid\": msg._msgid,\n    \"payload\":{\n        \"path\": path\n    }\n    \n}\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1020,"y":800,"wires":[["ba98eeb0.205d3"]]},{"id":"ea84bc7a.db76d","type":"simple-queue","z":"993af337.5da74","name":"SQS","firstMessageBypass":true,"bypassInterval":"0","x":1050,"y":260,"wires":[["2f02c9a6.93e276"]]},{"id":"fe09fb63.f859e8","type":"inject","z":"e089622.6a906a","name":"","repeat":"","crontab":"","once":false,"topic":"","payload":"test","payloadType":"str","x":250,"y":160,"wires":[["6c1851d1.8b28f"]]},{"id":"cdb38d47.cd149","type":"debug","z":"e089622.6a906a","name":"","active":true,"console":"false","complete":"true","x":870,"y":160,"wires":[]},{"id":"4b9c998a.373cc8","type":"inject","z":"e089622.6a906a","name":"","repeat":"","crontab":"","once":false,"topic":"","payload":"","payloadType":"date","x":240,"y":260,"wires":[["eda764e1.8074b8"]]},{"id":"c5d04e3b.efe1f","type":"inject","z":"e089622.6a906a","name":"","repeat":"","crontab":"","once":false,"topic":"","payload":"","payloadType":"date","x":240,"y":320,"wires":[["4f231841.69dd78"]]},{"id":"4f231841.69dd78","type":"change","z":"e089622.6a906a","name":"Bypass set to true","rules":[{"t":"set","p":"bypass","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":430,"y":320,"wires":[["6c1851d1.8b28f"]]},{"id":"49783823.727dd8","type":"inject","z":"e089622.6a906a","name":"","repeat":"","crontab":"","once":false,"topic":"","payload":"test","payloadType":"str","x":250,"y":120,"wires":[["b6103616.738bb8"]]},{"id":"b6103616.738bb8","type":"change","z":"e089622.6a906a","name":"","rules":[{"t":"set","p":"ttl","pt":"msg","to":"2000","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":430,"y":120,"wires":[["6c1851d1.8b28f"]]},{"id":"61c94eb4.f285e","type":"inject","z":"e089622.6a906a","name":"","repeat":"","crontab":"","once":false,"topic":"","payload":"","payloadType":"date","x":240,"y":360,"wires":[["f80b3fd.988a6c"]]},{"id":"f80b3fd.988a6c","type":"change","z":"e089622.6a906a","name":"Bypass set to false","rules":[{"t":"set","p":"bypass","pt":"msg","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":430,"y":360,"wires":[["6c1851d1.8b28f"]]},{"id":"86543cdf.3706c","type":"inject","z":"e089622.6a906a","name":"","repeat":"","crontab":"","once":false,"topic":"","payload":"","payloadType":"date","x":240,"y":220,"wires":[["6d3ba29e.ea192c"]]},{"id":"6d3ba29e.ea192c","type":"change","z":"e089622.6a906a","name":"","rules":[{"t":"set","p":"reset","pt":"msg","to":"1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":440,"y":220,"wires":[["6c1851d1.8b28f"]]},{"id":"5190f4e7.cabbbc","type":"inject","z":"e089622.6a906a","name":"","repeat":"","crontab":"","once":false,"topic":"","payload":"","payloadType":"date","x":240,"y":80,"wires":[["61d34c47.cdfc94"]]},{"id":"61d34c47.cdfc94","type":"change","z":"e089622.6a906a","name":"","rules":[{"t":"set","p":"queueCount","pt":"msg","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":460,"y":80,"wires":[["6c1851d1.8b28f"]]},{"id":"6c1851d1.8b28f","type":"simple-queue","z":"e089622.6a906a","name":"","firstMessageBypass":false,"bypassInterval":"0","x":680,"y":160,"wires":[["cdb38d47.cd149"]]},{"id":"2585120c.a2cc9e","type":"bigssh","z":"d3798413.a48618","name":"","commandLine":"${payload.command}","commandArgs":"","minError":1,"minWarning":1,"noStdin":false,"format":"utf8","payloadIsArg":true,"myssh":"188b5b0b.c17bd5","x":620,"y":340,"wires":[["bb4dcd04.c8faa"],[],["8085c1d3.5369"]]},{"id":"80d372f8.08eac","type":"function","z":"d3798413.a48618","name":"","func":"path = msg.filename\nfilename = msg.file\n\n//Replace docker path by ftp path\npath = path.replace('/mnt/ftpserver/', '/home/ina/ftp/uploads/')\n\n\nmsg = {\n    \"_msgid\": msg._msgid,\n    \"path\": path,\n    \"title\": filename,\n    \"payload\":{\n        \"command\": \"sudo ffprobe -show_format -show_streams -print_format json -loglevel quiet \" + path\n    }\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":380,"y":340,"wires":[["2585120c.a2cc9e"]]},{"id":"e6ffd7df.da8758","type":"function","z":"d3798413.a48618","name":"","func":"msg.payload = msg.payload + \"\\n}\"\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":980,"y":400,"wires":[["66777487.0641ec"]]},{"id":"bb4dcd04.c8faa","type":"delay","z":"d3798413.a48618","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"0.1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":850,"y":340,"wires":[["e6ffd7df.da8758"]]},{"id":"3612e03.3ce922","type":"bigssh","z":"993af337.5da74","name":"Transcoding","commandLine":"${payload.command}","commandArgs":"","minError":1,"minWarning":1,"noStdin":false,"format":"utf8","payloadIsArg":true,"myssh":"f0cdd108.bf2b2","x":2190,"y":260,"wires":[["5f65c769.cf90e8"],[],["5f65c769.cf90e8"]]},{"id":"71da7837.a20358","type":"function","z":"993af337.5da74","name":"Trigger function","func":"msg = {\n    \"_msgid\": msg._msgid,\n    \"payload\":{\n    },\n    \"trigger\": 1\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2560,"y":320,"wires":[["ea84bc7a.db76d"]]},{"id":"eda764e1.8074b8","type":"change","z":"e089622.6a906a","name":"","rules":[{"t":"set","p":"trigger","pt":"msg","to":"1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":440,"y":260,"wires":[["6c1851d1.8b28f"]]},{"id":"4cae8548.77146c","type":"bigssh","z":"993af337.5da74","name":"Move file to storage VOD","commandLine":"rm ${payload.path}","commandArgs":"","minError":1,"minWarning":1,"noStdin":false,"format":"utf8","payloadIsArg":true,"myssh":"188b5b0b.c17bd5","x":2570,"y":200,"wires":[[],[],[]]},{"id":"fbe43351.4fec","type":"bigssh","z":"993af337.5da74","name":"Move file to storage Playout","commandLine":"rm ${payload.path}","commandArgs":"","minError":1,"minWarning":1,"noStdin":false,"format":"utf8","payloadIsArg":true,"myssh":"188b5b0b.c17bd5","x":2580,"y":260,"wires":[[],[],[]]},{"id":"2f02c9a6.93e276","type":"function","z":"993af337.5da74","name":"add command","func":"msg = {\n    \"_msgid\": msg._msgid,\n    \"payload\":{\n        \"command\": 'sudo sshpass -p \"Admin@2021\" scp administrator@192.168.254.1:' + msg.payload[0].path + ' /mnt/smb-nas1/input | echo ' + msg.payload[0].path\n    },\n    \"filename\": msg.payload[0].title\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1240,"y":260,"wires":[["e88d1324.12761"]]},{"id":"e88d1324.12761","type":"bigssh","z":"993af337.5da74","name":"Move command","commandLine":"${payload.command}","commandArgs":"","minError":1,"minWarning":1,"noStdin":false,"format":"utf8","payloadIsArg":true,"myssh":"f0cdd108.bf2b2","x":1440,"y":260,"wires":[["71ae9d92.17dbf4"],[],[]]},{"id":"5f65c769.cf90e8","type":"debug","z":"993af337.5da74","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":2350,"y":380,"wires":[]},{"id":"5664b8c7.ed30d8","type":"function","z":"993af337.5da74","name":"add command","func":"path = msg.payload\nfilename = path.replace('/home/ina/ftp/uploads/', 'output_')\nfilename = filename.split(\".\", -1)\npath = path.replace('/home/ina/ftp/uploads/', '/home/mnt/smb-nas1/input')\n\n\ncommand1 = 'ffmpeg -i '+ path\ncommand2 =  ' -vcodec libx264 -g 1 -pix_fmt yuv422p10le -vb 100M -x264opts avcintra-class=100 -x264opts colorprim=bt709 -x264opts transfer=bt709 -x264opts colormatrix=bt709 -vf \"setfield=1\" ' + filename[0] + '.mxf | mv ' + filename[0] + '.mxf /home/administrator/output'\ncommand = command1.concat(\" \", command2)\ncommand = command.replace(/\\n/g, ' ');\n\nmsg = {\n    \"_msgid\": msg._msgid,\n    \"payload\":{\n        \"command\": command\n    }\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1960,"y":260,"wires":[["3612e03.3ce922","5f65c769.cf90e8"]]},{"id":"71ae9d92.17dbf4","type":"bigssh","z":"993af337.5da74","name":"Remove file FTP","commandLine":"rm ${payload}","commandArgs":"","minError":1,"minWarning":1,"noStdin":false,"format":"utf8","payloadIsArg":true,"myssh":"188b5b0b.c17bd5","x":1680,"y":260,"wires":[["5664b8c7.ed30d8","5f65c769.cf90e8"],[],[]]},{"id":"8085c1d3.5369","type":"debug","z":"d3798413.a48618","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":860,"y":480,"wires":[]}]