Workflow/Node-Red/flows.json
[{"id":"d3798413.a48618","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"993af337.5da74","type":"tab","label":"Flow 3","disabled":false,"info":""},{"id":"f47ed4be.456858","type":"mongodb","hostname":"172.17.0.2","topology":"direct","connectOptions":"","port":"27017","db":"test","name":""},{"id":"188b5b0b.c17bd5","type":"SSH_Credentials","host":"192.168.254.1","port":"22","userlabel":"administrator@192.168.254.1"},{"id":"d412c38d.b559e","type":"function","z":"d3798413.a48618","name":"Formatter","func":"path = msg.filename\nfilename = msg.file\ntime = msg.time\n\nmsg.payload = {\n    \"title\": filename,\n    \"path\": path,\n    \"time\": time\n}\n\nreturn msg.payload;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1160,"y":400,"wires":[["7103e2ca.0ca28c","73ca0faf.ae792"]]},{"id":"7103e2ca.0ca28c","type":"mongodb out","z":"d3798413.a48618","mongodb":"f47ed4be.456858","name":"Write new file input","collection":"test","payonly":false,"upsert":false,"multi":false,"operation":"insert","x":1570,"y":400,"wires":[]},{"id":"d5589ee0.be81c","type":"e-mail","z":"d3798413.a48618","server":"smtp.gmail.com","port":"465","secure":true,"tls":true,"name":"j.mermethusson@gmail.com","dname":"","x":1600,"y":460,"wires":[]},{"id":"73ca0faf.ae792","type":"function","z":"d3798413.a48618","name":"Formatter","func":"path = msg.filename\nid = msg._msgid\nfilename = msg.file\ntime = msg.time\n\n\ncorps = `Hello, we received the file ${filename} at ${time}.\\nClick on http://localhost:1880/approve?id=${id} to enable the transcoding workflow.\\n Othewise click on: Click on http://localhost:1880/deny?id=${id} `\n\nmsg = {\n    \"topic\": \"File Approval\",\n    \"payload\": corps\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1220,"y":460,"wires":[["d5589ee0.be81c"]]},{"id":"66777487.0641ec","type":"moment","z":"d3798413.a48618","name":"","topic":"","input":"","inputType":"date","inTz":"Europe/Paris","adjAmount":0,"adjType":"days","adjDir":"add","format":"","locale":"en-US","output":"time","outputType":"msg","outTz":"Europe/Paris","x":840,"y":420,"wires":[["d412c38d.b559e"]]},{"id":"e3a7c9b4.e6cd88","type":"http in","z":"993af337.5da74","name":"","url":"/approve","method":"get","upload":false,"swaggerDoc":"","x":390,"y":180,"wires":[["7ea1167a.917248"]]},{"id":"4a61c862.af3d58","type":"http response","z":"993af337.5da74","name":"","statusCode":"200","headers":{},"x":1230,"y":180,"wires":[]},{"id":"b2029037.d7879","type":"template","z":"993af337.5da74","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<!DOCTYPE html>\n<html>\n<body>\n\n<h1>File Workflow</h1>\n<p>The.document {{payload.0.title}} is accepted.</p>\n\n</body>\n</html>","output":"str","x":1050,"y":180,"wires":[["4a61c862.af3d58"]]},{"id":"f1abae13.9f69","type":"mongodb in","z":"993af337.5da74","mongodb":"f47ed4be.456858","name":"Read database","collection":"test","operation":"find","x":800,"y":180,"wires":[["b2029037.d7879"]]},{"id":"7ea1167a.917248","type":"function","z":"993af337.5da74","name":"","func":"msg.limit = 5; //obligatoire\nmsg.skip = 0;\nmsg.payload = {_msgid: msg.payload.id}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":600,"y":180,"wires":[["f1abae13.9f69"]]},{"id":"8cd8e208.1763","type":"http in","z":"993af337.5da74","name":"","url":"/deny","method":"get","upload":false,"swaggerDoc":"","x":380,"y":280,"wires":[["46334fbe.4afff"]]},{"id":"aba1df2.7c6702","type":"http response","z":"993af337.5da74","name":"","statusCode":"200","headers":{},"x":1230,"y":280,"wires":[]},{"id":"32744368.fb8b0c","type":"template","z":"993af337.5da74","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<!DOCTYPE html>\n<html>\n<body>\n\n<h1>File Workflow</h1>\n<p>The.document {{payload.0.title}} is refused.</p>\n\n</body>\n</html>","output":"str","x":1050,"y":280,"wires":[["aba1df2.7c6702"]]},{"id":"aa8fd924.d8a7c8","type":"mongodb in","z":"993af337.5da74","mongodb":"f47ed4be.456858","name":"Read database","collection":"test","operation":"find","x":800,"y":280,"wires":[["32744368.fb8b0c","af1fd9dc.1eaf48"]]},{"id":"46334fbe.4afff","type":"function","z":"993af337.5da74","name":"","func":"msg.limit = 5; //obligatoire\nmsg.skip = 0;\nmsg.payload = {_msgid: msg.payload.id}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":600,"y":280,"wires":[["aa8fd924.d8a7c8"]]},{"id":"1dc5d661.e7eb0a","type":"mongodb out","z":"993af337.5da74","mongodb":"f47ed4be.456858","name":"Remove database","collection":"test","payonly":false,"upsert":false,"multi":false,"operation":"delete","x":1270,"y":360,"wires":[]},{"id":"af1fd9dc.1eaf48","type":"function","z":"993af337.5da74","name":"","func":"msg.payload = {_msgid: msg.payload[0]._msgid}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1060,"y":360,"wires":[["1dc5d661.e7eb0a"]]},{"id":"46f8da4c.623874","type":"bigssh","z":"d3798413.a48618","name":"","commandLine":"cat /etc/os-release","commandArgs":"","minError":1,"minWarning":1,"noStdin":true,"format":"utf8","payloadIsArg":false,"myssh":"188b5b0b.c17bd5","x":380,"y":420,"wires":[[],[],[]]},{"id":"81f68cc0.fa93","type":"inject","z":"d3798413.a48618","name":"","props":[{"p":"timestamp","v":"","vt":"date"}],"repeat":"30","crontab":"","once":true,"onceDelay":"1","topic":"","x":150,"y":420,"wires":[["46f8da4c.623874"]]},{"id":"fc476b5.5c3ee98","type":"watch","z":"d3798413.a48618","name":"","files":"ftp://192.168.254.1/uploads","recursive":"","x":330,"y":180,"wires":[["f6a8ece8.4a88e"]]},{"id":"f6a8ece8.4a88e","type":"debug","z":"d3798413.a48618","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":680,"y":180,"wires":[]}]