Workflow/Node-Red/flows_end.json
[{"id":"d3798413.a48618","type":"tab","label":"Watchfolder","disabled":false,"info":""},{"id":"993af337.5da74","type":"tab","label":"API","disabled":false,"info":""},{"id":"f47ed4be.456858","type":"mongodb","hostname":"172.17.0.4","topology":"direct","connectOptions":"","port":"27017","db":"test","name":""},{"id":"188b5b0b.c17bd5","type":"SSH_Credentials","host":"192.168.254.1","port":"22","userlabel":"administrator@192.168.254.1"},{"id":"29df19bc.46db36","type":"SSH_Credentials","host":"127.0.0.1","port":"22","userlabel":"dummy@127.0.0.1"},{"id":"f0cdd108.bf2b2","type":"SSH_Credentials","host":"192.168.11.3","port":"22","userlabel":"administrator@192.168.11.3"},{"id":"a9039719.16a198","type":"SSH_Credentials","host":"192.168.10.2","port":"22","userlabel":"administrator@192.168.10.2"},{"id":"98d446f7.f99f18","type":"SSH_Credentials","host":"192.168.11.3","port":"22","userlabel":"administrator@192.168.11.3"},{"id":"3009037c.c147ac","type":"discord-token","name":"Chaine Media"},{"id":"d412c38d.b559e","type":"function","z":"d3798413.a48618","name":"Formatter","func":"path = msg.path\nfilename = msg.title\ntime = msg.time\npayload = msg.payload\n\nmsg.payload = {\n    \"title\": filename,\n    \"path\": path,\n    \"time\": time,\n    \"ffprobe\": payload,\n    \"codec\": msg.codec,\n    \"width\": msg.width,\n    \"height\": msg.height,\n    \"duration:\": msg.duration,\n    \"framerate:\": msg.framerate,\n    \"bitrate:\": msg.bitrate/1000000,\n    \"other\": String(msg.other),\n    \"id\": msg._msgid\n    \n}\n\nreturn msg.payload;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":980,"y":500,"wires":[["7103e2ca.0ca28c","82589b78.155978","df17cd58.b2fc6"]]},{"id":"7103e2ca.0ca28c","type":"mongodb out","z":"d3798413.a48618","mongodb":"f47ed4be.456858","name":"Write new file input","collection":"test","payonly":false,"upsert":false,"multi":false,"operation":"insert","x":1310,"y":500,"wires":[]},{"id":"d5589ee0.be81c","type":"e-mail","z":"d3798413.a48618","server":"smtp.gmail.com","port":"465","secure":true,"tls":true,"name":"j.mermethusson@gmail.com","dname":"","x":1580,"y":580,"wires":[]},{"id":"73ca0faf.ae792","type":"function","z":"d3798413.a48618","name":"Formatter","func":"path = msg.filename\nid = msg._msgid\nfilename = msg.title\ntime = msg.time\nffprobe = msg.ffprobe\n\n\ncorps = `Hello, we received the file ${filename} at ${time}.\\nHere is the informations concerning the file:\\n${ffprobe}\\nClick on http://100.87.168.42:1880/approve?id=${id} to enable the transcoding workflow.\\n Otherwise click on: http://100.87.168.42:1880/deny?id=${id} `\ntopic = `File Approval: ${filename}`\n\nmsg = {\n    \"topic\": topic,\n    \"payload\": msg.mail\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1340,"y":580,"wires":[["d5589ee0.be81c"]]},{"id":"66777487.0641ec","type":"moment","z":"d3798413.a48618","name":"Date","topic":"","input":"","inputType":"date","inTz":"Europe/Paris","adjAmount":0,"adjType":"days","adjDir":"add","format":"","locale":"en-US","output":"time","outputType":"msg","outTz":"Europe/Paris","x":790,"y":500,"wires":[["d412c38d.b559e"]]},{"id":"e3a7c9b4.e6cd88","type":"http in","z":"993af337.5da74","name":"","url":"/approve","method":"get","upload":false,"swaggerDoc":"","x":390,"y":180,"wires":[["7ea1167a.917248"]]},{"id":"4a61c862.af3d58","type":"http response","z":"993af337.5da74","name":"","statusCode":"200","headers":{},"x":1230,"y":180,"wires":[]},{"id":"b2029037.d7879","type":"template","z":"993af337.5da74","name":"HTML","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<!DOCTYPE html>\n<head>\n    <link rel=\"stylesheet\" href=\"https://fonts.xz.style/serve/inter.css\">\n    <link rel=\"stylesheet\" href=\"https://cdn.jsdelivr.net/npm/@exampledev/new.css@1.1.2/new.min.css\">\n    <link rel=\"stylesheet\" href=\"https://newcss.net/theme/night.css\">\n  </head>\n\n<header><center><h1>Ingest Workflow</h1></center></header>\n\n<!-- Heading -->\n<h2>Incoming file approval</h2>\n<p>You accept the file {{payload.0.title}}</p>\n<img src=\"https://media.giphy.com/media/3oEjI5VtIhHvK37WYo/giphy.gif\">\n<br>\n\n<!-- Article break -->\n<details>\n  <summary>File information</summary>\n  <p>{{payload.0.ffprobe}}</p>\n</details>\n<br><br>\n\n<!-- Article break -->\n<blockquote>\n  Powered by Node-Red\n</blockquote>\n<br><br>\n\n<!-- Footer -->\n<center>（￣︶￣）↗</center>　","output":"str","x":1040,"y":180,"wires":[["4a61c862.af3d58"]]},{"id":"f1abae13.9f69","type":"mongodb in","z":"993af337.5da74","mongodb":"f47ed4be.456858","name":"Read database","collection":"test","operation":"find","x":800,"y":180,"wires":[["b2029037.d7879","ea84bc7a.db76d"]]},{"id":"7ea1167a.917248","type":"function","z":"993af337.5da74","name":"Find command","func":"msg.limit = 5; //obligatoire\nmsg.skip = 0;\nmsg.payload = {_msgid: msg.payload.id}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":600,"y":180,"wires":[["f1abae13.9f69"]]},{"id":"8cd8e208.1763","type":"http in","z":"993af337.5da74","name":"","url":"/deny","method":"get","upload":false,"swaggerDoc":"","x":380,"y":640,"wires":[["46334fbe.4afff"]]},{"id":"aba1df2.7c6702","type":"http response","z":"993af337.5da74","name":"","statusCode":"200","headers":{},"x":1230,"y":640,"wires":[]},{"id":"32744368.fb8b0c","type":"template","z":"993af337.5da74","name":"HTML","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<!DOCTYPE html>\n<head>\n    <link rel=\"stylesheet\" href=\"https://fonts.xz.style/serve/inter.css\">\n    <link rel=\"stylesheet\" href=\"https://cdn.jsdelivr.net/npm/@exampledev/new.css@1.1.2/new.min.css\">\n    <link rel=\"stylesheet\" href=\"https://newcss.net/theme/night.css\">\n  </head>\n\n<header><center><h1>Ingest Workflow</h1></center></header>\n\n<!-- Heading -->\n<h2>Incoming file approval</h2>\n<p>You refused the file {{payload.0.title}}</p>\n<img src=\"https://media.giphy.com/media/KbAMAJ0za8qNW/giphy.gif\">\n<br>\n\n<!-- Article break -->\n<details>\n  <summary>File information</summary>\n  <p>{{payload.0.ffprobe}}</p>\n</details>\n<br><br>\n\n<!-- Article break -->\n<blockquote>\n  Powered by Node-Red\n</blockquote>\n<br><br>\n\n<!-- Footer -->\n<center>（￣︶￣）↗</center>　","output":"str","x":1040,"y":640,"wires":[["aba1df2.7c6702"]]},{"id":"aa8fd924.d8a7c8","type":"mongodb in","z":"993af337.5da74","mongodb":"f47ed4be.456858","name":"Read database","collection":"test","operation":"find","x":800,"y":640,"wires":[["32744368.fb8b0c","af1fd9dc.1eaf48","db0519f9.f37f18"]]},{"id":"46334fbe.4afff","type":"function","z":"993af337.5da74","name":"Find command","func":"msg.limit = 5; //obligatoire\nmsg.skip = 0;\nmsg.payload = {_msgid: msg.payload.id}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":580,"y":640,"wires":[["aa8fd924.d8a7c8"]]},{"id":"1dc5d661.e7eb0a","type":"mongodb out","z":"993af337.5da74","mongodb":"f47ed4be.456858","name":"Remove database","collection":"test","payonly":false,"upsert":false,"multi":false,"operation":"delete","x":1270,"y":720,"wires":[]},{"id":"af1fd9dc.1eaf48","type":"function","z":"993af337.5da74","name":"Get msg id","func":"msg.payload = {_msgid: msg.payload[0]._msgid}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1070,"y":720,"wires":[["1dc5d661.e7eb0a"]]},{"id":"437e9481.45aa9c","type":"watch-directory","z":"d3798413.a48618","folder":"/mnt/ftpserver","recursive":0,"typeEvent":"update","ignoreInitial":false,"ignoredFiles":"","ignoredFilesType":"re","name":"","x":170,"y":340,"wires":[["80d372f8.08eac"]]},{"id":"ba98eeb0.205d3","type":"bigssh","z":"993af337.5da74","name":"Remove file on FTP","commandLine":"rm ${payload.path}","commandArgs":"","minError":1,"minWarning":1,"noStdin":false,"format":"utf8","payloadIsArg":true,"myssh":"188b5b0b.c17bd5","x":1230,"y":800,"wires":[["94bd8d98.c1c93"],[],[]]},{"id":"94bd8d98.c1c93","type":"debug","z":"993af337.5da74","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1470,"y":800,"wires":[]},{"id":"db0519f9.f37f18","type":"function","z":"993af337.5da74","name":"rm command","func":"path = msg.payload[0].path\n\nmsg = {\n    \"_msgid\": msg._msgid,\n    \"payload\":{\n        \"path\": path\n    }\n    \n}\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1020,"y":800,"wires":[["ba98eeb0.205d3"]]},{"id":"ea84bc7a.db76d","type":"simple-queue","z":"993af337.5da74","name":"SQS","firstMessageBypass":true,"bypassInterval":"0","x":1050,"y":260,"wires":[["2f02c9a6.93e276","35716331.ab8afc"]]},{"id":"2585120c.a2cc9e","type":"bigssh","z":"d3798413.a48618","name":"ffprobe","commandLine":"${payload.command}","commandArgs":"","minError":1,"minWarning":1,"noStdin":false,"format":"utf8","payloadIsArg":true,"myssh":"188b5b0b.c17bd5","x":760,"y":340,"wires":[["bb4dcd04.c8faa"],[],[]]},{"id":"80d372f8.08eac","type":"function","z":"d3798413.a48618","name":"Command preparation","func":"path = msg.filename\nfilename = msg.file\n\n//Replace docker path by ftp path\npath = path.replace('/mnt/ftpserver/', '/home/ina/ftp/uploads/')\n\n//Reconstruction of the message\nmsg = {\n    \"_msgid\": msg._msgid,\n    \"path\": path,\n    \"title\": filename,\n    \"payload\":{\n        \"command\": \"sudo ffprobe -show_format -show_streams -print_format json -loglevel quiet \" + path\n    }\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":380,"y":340,"wires":[["a744df0b.78f7"]]},{"id":"e6ffd7df.da8758","type":"function","z":"d3798413.a48618","name":"Add missing }","func":"msg.payload = msg.payload + \"\\n}\"\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":420,"y":500,"wires":[["b695ee65.ba172"]]},{"id":"bb4dcd04.c8faa","type":"delay","z":"d3798413.a48618","name":"Take first message","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"0.1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":990,"y":340,"wires":[["e6ffd7df.da8758"]]},{"id":"3612e03.3ce922","type":"bigssh","z":"993af337.5da74","name":"Transcoding prod","commandLine":"${payload.commandPlex}","commandArgs":"","minError":1,"minWarning":1,"noStdin":false,"format":"utf8","payloadIsArg":true,"myssh":"f0cdd108.bf2b2","x":2870,"y":260,"wires":[[],["2ef393ed.c56a5c"],["72d30f5d.7bba9"]]},{"id":"71da7837.a20358","type":"function","z":"993af337.5da74","name":"Trigger function","func":"msg = {\n    \"_msgid\": msg._msgid,\n    \"payload\":{\n    },\n    \"trigger\": 1\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":3640,"y":420,"wires":[["ea84bc7a.db76d"]]},{"id":"2f02c9a6.93e276","type":"function","z":"993af337.5da74","name":"add command","func":"filepath = msg.payload[0].path.replace(/['\"]+/g, '')\nfilepath = filepath.replace(/\\s/g, '');\n\nmsg = {\n    \"_msgid\": msg._msgid,\n    \"payload\":{\n        \"command\": 'sudo sshpass -p \"Admin@2021\" scp administrator@192.168.254.1:' + filepath + ' /mnt/smb-nas1/input/'\n    },\n    \"filename\": msg.payload[0].title,\n    \"path\": filepath\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1240,"y":260,"wires":[["35716331.ab8afc","5664b8c7.ed30d8"]]},{"id":"e88d1324.12761","type":"bigssh","z":"993af337.5da74","name":"Move command","commandLine":"${payload.command}","commandArgs":"","minError":1,"minWarning":1,"noStdin":false,"format":"utf8","payloadIsArg":true,"myssh":"f0cdd108.bf2b2","x":1480,"y":200,"wires":[[],["50e5d9ba.ac3c38"],[]]},{"id":"5664b8c7.ed30d8","type":"function","z":"993af337.5da74","name":"add command","func":"path = msg.path\npath = path.replace('/home/ina/ftp/uploads/', '/mnt/smb-nas1/input/')\nfilename = path.replace('/mnt/smb-nas1/input/', 'prod_')\nfilename = filename.split(\".\", -1)\nfilenamePlex = path.replace('/mnt/smb-nas1/input/', 'plex_')\nfilenamePlex = filenamePlex.split(\".\", -1)\n\n\n//command1 = 'sudo ffmpeg -y -i '+ path\n//command2 =  ' -vcodec libx264 -g 1 -pix_fmt yuv422p10le -vb 100M -x264opts avcintra-class=100 -x264opts colorprim=bt709 -x264opts transfer=bt709 -x264opts colormatrix=bt709 -vf \"setfield=1,yadif\" -video_size 1920x1080 -r 50 -ac 2 -c:a aac -b:a 128k ' + filename[0] + '.mp4'\n//command = command1.concat(\" \", command2)\n//command = command.replace(/\\n/g, ' ');\n\ncommand = \"sudo bash transcoScript.sh \" + path + \" \" + filename[0] + '.mp4'\n\n//command1Plex = 'sudo ffmpeg -y -i '+ path\n//command2Plex =  '-vb 2M -video_size 1280x720 -r 25 -ac 2 -c:a aac -b:a 128k '+ filenamePlex[0] + '.mp4' //'| sudo mv ' + filename[0] + '.mp4 /mnt/smb-nas1/output_plex/'\n//commandPlex = command1Plex.concat(\" \", command2Plex)\n//commandPlex = commandPlex.replace(/\\n/g, ' ');\n\ncommandPlex = \"sudo bash transcoScriptPlex.sh \" + path + \" \" + filenamePlex[0] + '.mp4'\n\nmsg = {\n    \"_msgid\": msg._msgid,\n    \"payload\":{\n        \"command\": command,\n        \"commandPlex\": commandPlex\n    },\n    \"filename\": filename[0] + \".mp4\",\n    \"filenamePlex\": filenamePlex[0] + \".mp4\"\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2420,"y":260,"wires":[["8c61261e.d1dc78","35716331.ab8afc","75f291bd.a2af1"]]},{"id":"71ae9d92.17dbf4","type":"bigssh","z":"993af337.5da74","name":"Remove file FTP","commandLine":"${payload.command}","commandArgs":"","minError":1,"minWarning":1,"noStdin":false,"format":"utf8","payloadIsArg":true,"myssh":"188b5b0b.c17bd5","x":2040,"y":180,"wires":[[],[],[]]},{"id":"a744df0b.78f7","type":"delay","z":"d3798413.a48618","name":"Delay","pauseType":"delay","timeout":"2","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":590,"y":340,"wires":[["2585120c.a2cc9e"]]},{"id":"d1f3aa7d.06dee8","type":"function","z":"993af337.5da74","name":"add command","func":"msg = {\n    \"_msgid\": msg._msgid,\n    \"payload\":{\n        \"command\": 'sudo rm ' + msg.path + '| echo \"finished\"'\n    },\n    \"filename\": msg.filename,\n    \"path\": msg.path\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1840,"y":180,"wires":[[]]},{"id":"4fb1b26b.0854dc","type":"join","z":"993af337.5da74","name":"","mode":"custom","build":"string","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":4270,"y":200,"wires":[[]]},{"id":"8760afc9.a7517","type":"catch","z":"993af337.5da74","name":"","scope":null,"uncaught":false,"x":1900,"y":620,"wires":[["c7442913.d72798"]]},{"id":"c7442913.d72798","type":"debug","z":"993af337.5da74","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"error.message","targetType":"msg","statusVal":"","statusType":"auto","x":2170,"y":620,"wires":[]},{"id":"a9d51fa8.53e15","type":"bigssh","z":"993af337.5da74","name":"","commandLine":"${payload.command} | echo \"finished\"","commandArgs":"","minError":1,"minWarning":1,"noStdin":false,"format":"","payloadIsArg":true,"myssh":"f0cdd108.bf2b2","x":3900,"y":260,"wires":[["4fb1b26b.0854dc"],[],[]]},{"id":"59401d0f.47a1a4","type":"function","z":"993af337.5da74","name":"Move","func":"command = 'sudo mv /home/administrator/' + msg.filename + ' /mnt/smb-nas1/output_prod/'\n\nmsg = {\n    \"_msgid\": msg._msgid,\n    \"payload\":{\n        \"command\": command\n    },\n    \"filename\": msg.filename\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":3650,"y":260,"wires":[["a9d51fa8.53e15"]]},{"id":"4d1f2976.c6db68","type":"function","z":"993af337.5da74","name":"Move","func":"command = 'sudo mv ' + msg.filenamePlex + ' /mnt/smb-nas1/output_plex/'\n\nmsg = {\n    \"_msgid\": msg._msgid,\n    \"payload\":{\n        \"command\": command\n    },\n    \"filename\": msg.filenamePlex\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":3110,"y":160,"wires":[["b3ef4d90.1b928"]]},{"id":"b3ef4d90.1b928","type":"bigssh","z":"993af337.5da74","name":"","commandLine":"${payload.command} | echo \"finished\"","commandArgs":"","minError":1,"minWarning":1,"noStdin":false,"format":"","payloadIsArg":true,"myssh":"f0cdd108.bf2b2","x":3360,"y":160,"wires":[["4fb1b26b.0854dc"],[],[]]},{"id":"2ef393ed.c56a5c","type":"switch","z":"993af337.5da74","name":"","property":"control.message","propertyType":"msg","rules":[{"t":"eq","v":"success","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":3030,"y":260,"wires":[["77d5a5a2.05de4c"]]},{"id":"525dd665.16ec58","type":"switch","z":"993af337.5da74","name":"","property":"control.message","propertyType":"msg","rules":[{"t":"eq","v":"success","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":2950,"y":160,"wires":[["4d1f2976.c6db68"]]},{"id":"8c61261e.d1dc78","type":"bigssh","z":"993af337.5da74","name":"Transcoding plex","commandLine":"${payload.command}","commandArgs":"","minError":1,"minWarning":1,"noStdin":false,"format":"utf8","payloadIsArg":true,"myssh":"98d446f7.f99f18","x":2750,"y":160,"wires":[[],["525dd665.16ec58"],[]]},{"id":"77d5a5a2.05de4c","type":"function","z":"993af337.5da74","name":"MediaConch","func":"command = 'mediaconch -fs --Policy=/home/administrator/mediaconch_policy.xml /home/administrator/' + msg.filename\n\nmsg = {\n    \"_msgid\": msg._msgid,\n    \"payload\":{\n        \"command\": command\n    },\n    \"filename\": msg.filename\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":3170,"y":260,"wires":[["7498066b.dc2298"]]},{"id":"7498066b.dc2298","type":"bigssh","z":"993af337.5da74","name":"","commandLine":"${payload.command} | echo \"finished\"","commandArgs":"","minError":1,"minWarning":1,"noStdin":false,"format":"","payloadIsArg":true,"myssh":"f0cdd108.bf2b2","x":3400,"y":260,"wires":[["59401d0f.47a1a4","d24afe43.39567"],["d24afe43.39567"],["d24afe43.39567"]]},{"id":"d24afe43.39567","type":"debug","z":"993af337.5da74","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":3590,"y":320,"wires":[]},{"id":"35716331.ab8afc","type":"debug","z":"993af337.5da74","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":2790,"y":420,"wires":[]},{"id":"75f291bd.a2af1","type":"delay","z":"993af337.5da74","name":"","pauseType":"delay","timeout":"3","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":2680,"y":260,"wires":[["3612e03.3ce922"]]},{"id":"58783724.eabcc8","type":"inject","z":"d3798413.a48618","name":"","props":[{"p":"filename","v":"/home/ina/ftp/uploads/TearsOfSteel_SubFR_1920x1080_P_24_422_audio5.1.avi","vt":"str"},{"p":"file","v":"TearsOfSteel_SubFR_1920x1080_P_24_422_audio5.1.avi","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":130,"y":180,"wires":[["80d372f8.08eac"]]},{"id":"50e5d9ba.ac3c38","type":"switch","z":"993af337.5da74","name":"","property":"control.message","propertyType":"msg","rules":[{"t":"eq","v":"success","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":1650,"y":200,"wires":[[]]},{"id":"41e38fa1.9409b","type":"switch","z":"993af337.5da74","name":"","property":"control.message","propertyType":"msg","rules":[{"t":"eq","v":"success","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":2230,"y":180,"wires":[[]]},{"id":"8c311c83.f9218","type":"inject","z":"993af337.5da74","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":3410,"y":520,"wires":[["71da7837.a20358"]]},{"id":"b695ee65.ba172","type":"function","z":"d3798413.a48618","name":"Parsing","func":"msg.payload = JSON.parse(msg.payload)\n\nmsg.codec = msg.payload.streams[0].codec_name\nmsg.width = msg.payload.streams[0].width\nmsg.height = msg.payload.streams[0].height\nmsg.duration = msg.payload.streams[0].duration\nmsg.bitrate = msg.payload.streams[0].bit_rate\nmsg.framerate = msg.payload.streams[0].r_frame_rate\nmsg.format = msg.payload.format.format_name\nmsg.other = []\n\nvar i;\nfor (i = 1; i < msg.payload.streams.length ; i++) {\n    msg.other[i-1] = {codec: \"\",codec_type: \"\"}\n    msg.other[i-1].codec = msg.payload.streams[i].codec_name\n    msg.other[i-1].codec_type = msg.payload.streams[i].codec_type\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":600,"y":500,"wires":[["66777487.0641ec","df17cd58.b2fc6"]]},{"id":"72d30f5d.7bba9","type":"debug","z":"993af337.5da74","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":3320,"y":440,"wires":[]},{"id":"df17cd58.b2fc6","type":"debug","z":"d3798413.a48618","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":780,"y":620,"wires":[]},{"id":"82589b78.155978","type":"template","z":"d3798413.a48618","name":"Mail","field":"mail","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Hello, \nWe received the file {{title}} at {{time}}.\n\nHere is the informations concerning the file:\n- Codec: {{codec}}\n- Definition: {{width}}x{{height}}\n- Duration: {{duration}}\n- Framerate: {{framerate}}\n- bitrate: {{bitrate}}\n\nClick on http://100.87.168.42:1880/approve?id={{id}} to enable the transcoding workflow.\nOtherwise click on: http://100.87.168.42:1880/deny?id={{id}}\n\nThanks,\n\nMornClubTV company","output":"str","x":1150,"y":580,"wires":[["73ca0faf.ae792","df17cd58.b2fc6"]]}]